html{
    font-size: 1opx;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font: size 1.6rem;
    overflow: hidden;
}
.layout_video{
width: 100%;
height: 100%;
}
.layout_content{
    position: absolute;
    left: 40%;
    right: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

}
.content_title{
    display: block; /**/
    font-size: 4rem;
    color: rgb(229, 232, 245);
    text-shadow: 0 0 1rem rgb(74, 17, 179);
    padding: 2rem;
    margin-bottom: 2rem;
    margin: 0%;

}

.content_btn{
    position: absolute;  
    left: 40%;
    right: 50%;

    width: 10rem;
    border: 2px solid rgb(238, 229, 236);
    background-color: rgb(224, 243, 243);
    padding: 2rem;
    color: rgb(228, 10, 137);
    font-weight:750 ;
    text-align: center;
    text-decoration: none;
    cursor: pointer;  
    margin: 0% auto;
    transition: all 300ms ease;
    border-radius: 0.4rem;
    

}
.content_btn:hover{
    background-color: rgb(238, 136, 241);

}