html{
   font-size: 10px;
}
body{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.6rem;

}

.layout{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 123, 230);
}

.layout_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title{
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
}

.main_card{
    width: 45%;
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    
}
.card_container-img{
margin-bottom: 2rem;

}
.card_img{
    width: 100rem;
    border-radius: 5px;
    max-width: 100%; /* para fijar una altura maxima*/

}
.card_price{
    text-align: center;
    font-size: 2.5rem;
    color: blueviolet;
    font-weight: 700;
}
.card_btn{
    display: inline-block;
    border: none;
    width: 100%;   
    outline: none;
    background-color: rgb(171, 98, 240);
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;


}