html{
    font-size: 1.5rem;
    height: 100%;
}
body{
font-family: 'Courier New', Courier, monospace;
font-size: 1.6rem;
height: 100%;
overflow: hidden;
}

.layout{
    width: 100%;
    height: 100%;
}

.layout_main{
      width: 100%;
     min-height: 100%;
     position: absolute;
     display: flex;

     justify-content:center;
     align-items: center;
}

.main_background{
    content: "";
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    position: absolute;
    z-index: -1;
    filter: blur(30px);
    background-image:url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}
.load_loader{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(45, 212, 3) ;
    text-align: center;
}
.load_btn{
    position: absolute;
    left: 40%;
    right: 50%;

    width: 10rem;
    border: 2px solid rgb(238, 229, 236);
    background-color: rgb(38, 36, 177);
    padding: 2rem;
    color: rgb(249, 249, 252);
    font-weight:750 ;
    text-align: center;
    text-decoration: none;
    cursor: pointer;  
    margin: 0% auto;
    transition: all 300ms ease;
    border-radius: 0.5rem;
}

.load_btn:hover{
    background-color: blue;
}

.load_complete{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0 0 1rem black;
    display: none;
}